@import "./rainbow"; /*彩虹色卡*/
@import "./block-tips.css"; /*提示块*/
@import "./block-code.css"; /*代码块*/
@import "./nav.css"; /*导航栏*/
@import "./hidden.css"; /*隐藏横条*/
/*-------------------网页背景颜色-----------------------*/
:root {
  --vp-c-bg: #f9fafb;
  --vp-c-brand-lightest: var(--vp-c-brand-1);
  /* --vp-sidebar-bg-color: #eaecf0; */
}
.dark {
  --vp-c-bg: #17191c;
}
/*======================================================*/

/*-----------超链接样式----------------------------*/
.vp-doc a {
  text-decoration: none;
  font-weight: bold;
}
.vp-doc a:hover {
  text-decoration: underline;
  font-weight: bold;
}
/*================================================*/
@media (min-width: 640px){

}

:root .vp-nolebase-git-changelog-history-container{
  background-color:#EFF0F3
}
.dark .vp-nolebase-git-changelog-history-container{
  background-color:#272A2F
}


/* 隐藏上下页按钮 */

:root a.VPLink.link.pager-link.next {
  display: none !important;
}
